<footer>
    <div class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Explore </h3>
            <ul>
              <li> <a href="#"> Home </a> </li>
              <li> <a href="#"> About Us </a> </li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Legal </h3>
            <ul>
              <li> <a href="#"> Term of Use </a> </li>
              <li> <a href="#"> Report Misuse </a> </li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h3> Help </h3>
            <ul>
              <li> <a href="#"> Store Login </a> </li>
              <li> <a href="#"> Store Search </a> </li>
            </ul>
          </div>
          <div class="col-lg-6  col-md-4 col-sm-8 col-xs-12 ">
            <h3> <span>Online Local Store</span>  </h3>
            <ul>
              <li> <div>Doing busines from home! Expand your business by advertising and selling here.</div> </li>
            </ul>
            <ul>
              <li>
                <div class="input-append newsletter-box text-center">
                  <button class="btn bg-gray" type="button"> Contact Us <i class="fa fa-long-arrow-right"> </i> </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--/.row-->
      </div>
      <!--/.container-->
    </div>
    <!--/.footer-->
    <div class="footer-bottom">
      <div class="container">
        <p class="pull-left"> Copyright © 2018, All rights reserved.</p>
        <div class="pull-right">
          <ul class="social">
            <li> <a href="#"> <i class="fa fa-facebook">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.footer-bottom-->
  </footer>
  