<div class="omb_login" ng-controller="loginController">
  <h3 class="omb_authTitle">Login or <a routerLink="/signup" class="btn-link">Sign up</a></h3>
  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-6">
      <hr class="colorgraph">
      <form class="omb_loginForm" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="input-group"  [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="username" 
           [(ngModel)]="model.username" #username="ngModel" required 
          placeholder="email address"/>
        </div>
       
        <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control"  name="password" [(ngModel)]="model.password" #password="ngModel" required
           placeholder="Password"/>           
        </div>
        <button class="btn btn-sm btn-primary btn-block" [disabled]="loading">Login</button>
      </form>
    </div>
  </div>
  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-3">
      <label class="checkbox">
        <input type="checkbox" value="remember-me" [(ngModel)]="model.rememberMe" style="margin-left:0px;"><span style="margin:20px;">Remember Me</span>
      </label>
    </div>
    <div class="col-xs-12 col-sm-3">
      <p class="omb_forgotPwd">
        <a href="#" (click)="forgotPassword($event)" routerLinkActive="active" >Forgot password?</a>
      </p>
    </div>
  </div>
</div>
